@import "src/mixins";

.container {
    position: fixed;
    inset: 0;
    z-index: 10;
    padding: 4rem;

    opacity: 1;

    &:hover,
    &:focus-visible {
        text-decoration: none;
    }

    transition: all 0.5s ease-in-out;
    isolation: isolate;

    @include xs-only {
        padding: 2rem;
    }
}

.bg_link {
    position: absolute;
    inset: 0;
    z-index: -1;
}


.inner_container {
    position: relative;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;

    height: 100%;

    z-index: 1;

    h2 {
        margin: 0;
    }
}

.close_button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 2rem;
    height: 2rem;
    display: block;

    z-index: 10;

    svg {
        width: 100%;
        height: 100%;
    }
}

.main_grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows:  1fr;
    gap: 2rem;
    height: 100%;

    @include sm-down {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
}

.images {
    width: 100%;
    height: calc(100vh - 8rem);

    @include sm-down {
        height: 100%;
    }
}

.text_content {
    padding: 2rem 0;
    padding-right: 2rem;
    overflow: hidden auto;

    h2 {
        font-size: clamp(4rem, 4vw, 6rem);
        margin: 0;
    }

    h3 {
        font-size: 2rem;
        margin: 0;
    }

    @include sm-down {
        padding: 0 2rem;

        h2 {
            font-size: 4rem;
            margin: 0;
        }

        h3 {
            font-size: 2rem;
            margin: 0;
        }
    }

    @include xs-only {
        h2 {
            font-size: 2rem;
            margin: 0;
        }

        h3 {
            font-size: 2rem;
            margin: 0;
        }
    }
}

.about_the_project {
    margin-top: 2rem;
    padding: 2rem 0;
    border-top: 1px solid white;

    .about_inner {

        font-family: Mori, sans-serif;
        font-size: 1.5rem;
        max-width: 60ch;

        li {
            margin-bottom: 1rem;
        }

        @include xs-only {
            font-size: 1rem;

        }
    }
}

.items {
    list-style: none;
    font-family: Mori, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;

    @include xs-only {
        font-size: 1rem;
    }
}


.image_grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 0.5rem;

    img,
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include sm-down {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(0, 1fr));
    }
}

.active {
    grid-column: 1 / 3;
    grid-row: 1/ 3;

    @include sm-down {
        grid-column: 1 / 5;
        grid-row: 1 / 4;
    }

}

.single_item {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.thumb {
    filter: brightness(0.5);

    cursor: pointer;

    transition: filter 0.25s ease-in-out;

    &:hover,
    &:focus-visible {
        filter: brightness(1);
    }

}
