.container {
}

.floater {
    position: fixed;
    top: 0;

    z-index: -1;

    width: 100%;
    height: 100vh;
}

.nav {
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 2rem;
    display: flex;
    flex-direction: column;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        font-family: Mori;
        text-transform: lowercase;
        letter-spacing: 0.1em;
    }
}


.nav_link {
    color: white;
    opacity: 0.5;
    text-decoration: none;

    transition: opacity 0.5s ease-in-out;


    &:hover {
        opacity: 0.9;

    }
}

.canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    inset: 0;

    transition: filter 1s ease-in-out;

    canvas {
        height: 100% !important;
        width: 100% !important;
    }
}

.grain_texture {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    opacity: 1;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}

.fallback {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: linear-gradient(
                    100deg,
                    hsl(208deg 100% 70%) 0%,
                    hsl(209deg 100% 67%) 4%,
                    hsl(212deg 100% 66%) 11%,
                    hsl(215deg 100% 65%) 19%,
                    hsl(221deg 100% 67%) 30%,
                    hsl(229deg 100% 69%) 42%,
                    hsl(240deg 94% 71%) 57%,
                    hsl(253deg 86% 66%) 72%,
                    hsl(266deg 78% 59%) 87%,
                    hsl(279deg 71% 51%) 100%
    );
}
