@import "src/mixins";

.container {
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;

    text-align: center;


    margin: 4rem;
    margin-top: -30vh;

    h2 {
        font-size: 8rem;
        margin: 0;
    }

    a {
        font-size: 4rem;
    }

    @include sm-down {
        align-items: flex-start;
        text-align: left;
        h2 {
            font-size: 6rem;
        }

        a {
            font-size: 2rem;
        }
    }

    @include xs-only {
        margin: 10rem 2rem 20rem;
        height: auto;
        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 2rem;
        }
    }
}
